@model StokSatis.Models.Entity.TBL_MUSTERILER
@{
    ViewBag.Title = "musteriGetir";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

@using (Html.BeginForm("musteriGuncelle", "Musteri", FormMethod.Post))
{ //gUNCELLE ACTİONRESULT ÇAĞIRACAK MUSTERI'DEN.. Formmethod post olduğunda yani tıklandığında güncelle actionresult çağrılır.
    <div class="form-group">
        @Html.LabelFor(m => m.MUSTERIID)
        @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control", @readonly = "readonly" }) <!--id olan alanlara readonly uygulanır. Id gözükmemesi için-->

        @Html.LabelFor(m => m.MUSTERIAD)
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" }) <!--Textboxda kategori id gösterecek. Üstteki etiket için-->

        @Html.LabelFor(m => m.MUSTERISOYAD)
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" }) <!--Textboxda kategori id gösterecek. Üstteki etiket için-->
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn2">MÜŞTERİ GÜNCELLE</button>
    </div>
}

<script>
    $("#btn2").click(function () {
        alert("Müşteri güncellendi.");
    });
</script>